@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');

:root {
    --primary-color: #E9D5CA;
    --primary-dark: #4D4C7D;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    font-family: 'Outfit', sans-serif;
    align-items: center;

}
/* Genral */
.container {
    padding: 0 8.4rem;
}

.img-w {
    width: 100%;
}
/* Nav */
header {
    position: relative;
    box-shadow: 0 4px 17px #363062(0, 0, 0, .1);
    background: #E9D5CA;
    position: sticky;
    top: 0;
    z-index: 1;
}

img {
    width: 60px; /* تعيين عرض الصورة بنسبة 50% من العرض الأصلي */
    height: auto; /* الحفاظ على تناسق العرض بناءً على الارتفاع الأصلي */
    color:#4D4C7D;
}


.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

.logo {
    
     font-size: 1.5rem; 
    font-weight: 800; 
    opacity: 0; 
   animation: leftSideAni 1s ease forwards; 

}

.logo a {
    color: #4D4C7D;
    text-decoration: none;
}

ul {
    display: flex;
    gap: .6rem;
    list-style-type: none;
    background-color: transparent;
    overflow: hidden;
}

li a {
    display: inline-block;
    padding: .3rem 1rem;
    color: var(--nav-text);
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
}

li a.active,
li a:hover {
    color: #4D4C7D;
}

#click {
    display: none;
}

.menu {
    display: none;
}

/* Nav End */

/* Section 1 */



  

 
/* Section 1 End */


@keyframes blinkCursor {
  50% {
    border-right-color: transparent;
    align-items: center;
  }
}

@keyframes typeAndDelete {
  0%,
  10% {
    width: 0;
  }
  
  45%,
  55% {
    width: 5em;
  }

  90%,
  100% {
    width: 0;
  }
}

.terminal-loader {
  
  width: 200%;
  max-width: 405px;
  height: 250px;
  background: #4D4C7D;
  border: 1px solid #0000003e;
  border-radius: 10px;
  overflow: hidden;
  /* margin: 20px; */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
 
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

}

.terminal-header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #484848;
  padding: 6px;
}

.terminal-controls {
  position: absolute;
  left: 10px;
  display: flex;
  gap: 7px;
}

.control {
  display: inline-block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #777;
}

.control.close {
  background-color: #e33;
}

.control.minimize {
  background-color: #ee0;
}

.control.maximize {
  background-color: #0b0;
}

.terminal-title {
  color: #eeeeeec1;
}

.content {
  padding: 10px;

}
.text {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  border-right: 2px solid var(--primary-color);
  animation: typeAndDelete 4s steps(11) infinite,
    blinkCursor 0.5s step-end infinite alternate;
  /* color: #f1b4bb (0, 196, 0); */
  color: var(--primary-color);
  font-weight: 600;
}


/* Dark Mode */

.dark-mode {
    background-color: var(--primary-dark);
    color: #FDF0F0;
}

.mode input {
    display: none;
}

:is(.dark-mode) {
    .social a {
        color: var(--primary-color);
        border: 1.6px solid var(--primary-color);
    }

    .social a:hover {
        color: var(--primary-dark);
        background-color: var(--primary-color);
        box-shadow: 0 0 20px var(--primary-color);
    }

    .logo a {
        color: #E9D5CA;
    }

    .images::before {
        background: linear-gradient(145deg, #1f252e,);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    }

    .terminal-loader {
      
  width: 200%;
  max-width: 405px;
  height: 250px;
      background: var(--primary-color);
      border: 1px solid #0000003e;
      border-radius: 10px;
      overflow: hidden;
      /* margin: 20px; */
      box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
      margin-left: auto;
      margin-right: auto;
      margin-top: 50px;
    }

    .text {
      display: inline-block;
      white-space: nowrap;
      overflow: hidden;
      border-right: 2px solid var(--primary-dark);
      animation: typeAndDelete 4s steps(11) infinite,
        blinkCursor 0.5s step-end infinite alternate;
      /* color: #f1b4bb (0, 196, 0); */
      color: var(--primary-dark);
      font-weight: 600;
    }
    

}



.dark-mode header {
    box-shadow: 0 4px 17px #dc132a(80 80 80 / 31%);
    background: #363062
}

/*  */



/*  */







/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    .container {
        padding: 0 4.4rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding: 0 1.6rem;
    }
}

@media screen and (max-width:600px) {

    header {
        height: auto;
    }

    ul {
        background: #fff;
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }

    .menu {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }

    #click:checked~ul {
        left: 0%;
        transition: all 0.3s ease;
    }

    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-color);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }

    .images {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
        color: #f1b4bb;
    }
}